Repository Mirsario/TerrariaOverhaul, pull requests merged in 2022-07, with the labels that each got.

#129 Automatic localization file refreshing MSBuild task.
  BuildTools/Libraries/Hjson.dll
  BuildTools/Libraries/Newtonsoft.Json.dll
  BuildTools/Libraries/TerrariaOverhaul.BuildTools.deps.json
  BuildTools/Libraries/TerrariaOverhaul.BuildTools.dll
  BuildTools/Libraries/TerrariaOverhaul.BuildTools.pdb
  BuildTools/TaskBase.cs
  BuildTools/TerrariaOverhaul.BuildTools.csproj
  BuildTools/TerrariaOverhaul.BuildTools.sln
  BuildTools/UpdateLocalizationFiles.cs
  BuildTools/Utilities/CodeWriter.cs
  Localization/UpdateLocalizations.csx
  Localization/de-DE.hjson
  Localization/en-US.hjson
  Localization/es-ES.hjson
  Localization/fr-FR.hjson
  Localization/it-IT.hjson
  Localization/pl-PL.hjson
  Localization/pt-BR.hjson
  Localization/ru-RU.hjson
  Localization/zh-Hans.hjson
  TerrariaOverhaul.csproj
Labels: 1.4 (Beta), localization

#112 Update Chinese localization
  Localization/zh-Hans.hjson
Labels: localization

#120 Update Spanish localization
  Localization/es-ES.hjson
Labels: localization

#115 Added some german loc
  Localization/de-DE.hjson
Labels: localization

#130 Update zh-Hans.hjson
  Localization/README.md
  Localization/zh-Hans.hjson
Labels: localization

#132 Update Spanish localization
  Localization/README.md
  Localization/es-ES.hjson
Labels: localization

#133 Update german localization
  Localization/README.md
  Localization/de-DE.hjson
Labels: localization

#134 fr tl
  Localization/README.md
  Localization/fr-FR.hjson
Labels: localization

#137 Heavily improved melee swing velocity.
  Common/Melee/ItemMeleeSwingVelocity.cs
  Common/Melee/_Overhauls/Axe.cs
  Common/Melee/_Overhauls/Broadsword.cs
  Common/Melee/_Overhauls/Hammer.cs
  Common/Melee/_Overhauls/Pickaxe.cs
Labels: enhancement

#139 Bunnyhop + Dodgeroll combos.
  Assets/Sounds/Player/Bunnyroll.ogg
  Common/Movement/PlayerBunnyhopping.cs
  Common/Movement/PlayerBunnyrolls.cs
  Common/Movement/_Hooks/IPlayerOnBunnyhopHook.cs
Labels: enhancement

#138 Update ru-RU lang
  Localization/README.md
  Localization/ru-RU.hjson
Labels: localization

#140 Bunnyhop Combos & Bunny Paw rework
  Assets/Sounds/Player/BunnyhopCombo.ogg
  Assets/Sounds/Player/BunnyhopComboBreak.ogg
  Common/Movement/PlayerBunnyhopCombos.cs
  Content/Items/Accessories/BunnyPaw.ase
  Content/Items/Accessories/BunnyPaw.cs
  Content/Items/Accessories/BunnyPaw.png
  Content/Items/Accessories/BunnyPaw_Neck.ase
  Content/Items/Accessories/BunnyPaw_Neck.png
  Utilities/_Extensions/Vector2Extensions.cs
Labels: enhancement

#141 Update pl-PL.hjson
  Localization/README.md
  Localization/pl-PL.hjson
Labels: localization

#142 normal difficulty changed
  Localization/pl-PL.hjson
Labels: localization
